.profile-avatar-trigger {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  background-color: #297fdb;
  color: black;
  position: relative;

  img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }

  .pet-initial-avatar {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      height: 6rem;
      width: 6rem;
      fill: white;
    }
  }
  
  button {
    width: 4rem;
    height: 4rem;
    background-color: white;
    border: 2px solid black;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    transform: translate(25%, 25%);

    /* Icon */
    svg {
      height: 75%;
      width: 75%;
    }
  }
}