:root {
  box-sizing: border-box;
  padding: 0px;
  max-width: 0px;
}

.App {
  font-family: sans-serif;
  padding: 16px;
}

.Modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  max-height: -moz-fit-content;
  max-width: -moz-fit-content;
  max-width:  fit-content;
  max-height: fit-content;
  margin : auto;
  background-color: white;
  border-radius: 0.5rem;
}

.Modal-Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000bb;
}